<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>Sign Up</title>
</head>


<body style="position: relative; min-height: 100vh;">
<!-- ****************************** NAVBAR STARTS ****************************** -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="" width="200" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link active">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ****************************** NAVBAR ENDS ****************************** -->
<!-- ****************************** sign up starts ****************************** -->
<div class="container" style="padding-top: 100px; position: relative; min-height: 80vh;">
    <br>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>Login via Gmail</a>

            <p class="divider-text text-center">
                <span class="bg-light">OR</span>
            </p>
            <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group input-group ">
                    
                        {% if field == 'Sign up as' %}
                            <div class="input-group-prepend"
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                        {% elif field == 'Name' %}
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        {% elif field == 'email' %}
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        {% elif field == 'phone' %}
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>

                        {% endif %}
                    </div>
                    <label class="form-control">{{field.label}}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <p style="color:black;"> {{error}} </p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Full name" type="text">
                </div> <!-- form-group// -->
                <!--                <div class="form-group input-group">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>-->
                <!--                    </div>-->
                <!--                    <input name="" class="form-control" placeholder="Email address" type="email">-->
                <!--                </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                <!--                <div class="form-group input-group">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>-->
                <!--                    </div>-->
                <!--                    <select class="custom-select" style="max-width: 120px;">-->
                <!--                        <option selected="">+880</option>-->

                <!--                    </select>-->
                <!--                    <input name="" class="form-control" placeholder="Phone number" type="text">-->
                <!--                </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                <!--                <div class="form-group input-group">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>-->
                <!--                    </div>-->
                <!--                    <select class="form-control">-->
                <!--                        <option selected=""> Sign up as</option>-->
                <!--                        <option>Student</option>-->
                <!--                        <option>Faculty</option>-->
                <!--                        <option>Staff</option>-->
                <!--                    </select>-->
                <!--                </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
                <!--                <div class="form-group input-group">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>-->
                <!--                    </div>-->
                <!--                    <input class="form-control" placeholder="Create password" type="password">-->
                <!--                </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                <!--                <div class="form-group input-group">-->
                <!--                    <div class="input-group-prepend">-->
                <!--                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>-->
                <!--                    </div>-->
                <!--                    <input class="form-control" placeholder="Repeat password" type="password">-->
                <!--                </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account</button>
                </div> <!-- form-group// -->
                <p class="text-center">Already have an account? <a class="link-info fw-bold" href="{% url 'login' %}">LogIn</a></p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

<br><br>

<!-- Footer -->

<footer class="p-2 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy;2022 NSU CLS</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-2">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>

<!-- Footer Ends -->
</body>
</html>
